@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select{margin: 0;padding: 0;border: 0; font-family:"微软雅黑";}
table{ border-collapse:collapse;}
/*bg*/
.bg{
	position:absolute;
	z-index:-1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
	& img{
		width:100%;
		height:auto;
	}
}
/*login and register*/
.login_content{
	width:220px;
	height:180px;
	position:absolute;
	top:10px;
	right:10px;
	background:rgba(219,215,203,0.3);
	.un{
		margin:50px 25px 0px 25px;
		width:170px;
		background:#fff;
		display:block;
		height:25px;
		border:1px #cdcdcd solid;
		border-radius:5px;
		& label{
			background:url(../img/input_icons.png) no-repeat 0 -68px;
			display:block;
			width:6px;
			height:20px;
			border-right:1px #cdcdcd solid;
			float:left;
			overflow:hidden;
			padding:0px 0px 0px 24px;
			z-index:20;
			margin-top:2px;
		}
		& input{
			width:135px;
			height:23px;
			float:left;
			border:1px #fff solid;
			appearance:none;
			-webkit-appearance:none;
			outline:none;
			text-indent:6px;
		}
	}
	.pwd{
		width:170px;
		background:#fff;
		display:block;
		height:25px;
		margin:10px 25px 0px 25px;
		border:1px #cdcdcd solid;
		border-radius:5px;
		& label{
			background:url(../img/input_icons.png) no-repeat 0 -147px;
			display:block;
			float:left;
			border-right:1px #cdcdcd solid;
			width:6px;
			height:20px;
			overflow:hidden;
			padding:0px 0px 0px 24px;
			z-index:20;
			margin-top:2px;
		}
		& input{
			width:135px;
			height:23px;
			float:left;
			border:1px #fff solid;
			appearance:none;
			-webkit-appearance:none;
			outline:none;
			text-indent:6px;
		}
	}
	.btn{
		margin:30px 45px 0px 45px;
		width:130px;
		height:30px;
		font-size:12px;
		.button_box{
			// width:60px;
			// height:30px;
			// border-radius:10px;
			// background:rgba(170,163,161,0.5);
			float:left;
			.register{
				height:20px;
				width:60px;
				background:#9b9b9b;
				line-height:20px;
				text-align:center;
				border-radius:5px;
				margin-right:10px;
				&:hover{
					background:#7b7979;
					color:#fff;
				}
			}
			.login{
				height:20px;
				width:60px;
				background:#44a7ed;
				line-height:20px;
				text-align:center;
				border-radius:5px;
				&:hover{
					background:#1d8fe0;
					color:#fff;
				}
			}
		}
	}
}
/*side menu*/
.side_menu{
	width:80px;
	height:auto;
	position:absolute;
	right:10px;
	bottom:73px;
	& ul {
		list-style-type:none;
		background:#d9d9d9;
		& li:nth-of-type(1){
			& a{
				display:block;
				& label{
					height:60px;
					width:80px;
					font-size:12px;
					text-align:center;
					background:url(../img/icons.jpg) no-repeat -220px -565px;
					display:block;

				}
				font-size:12px;
				text-align:center;
				display:block;
				&:hover{
					color:#fff;
				}
			}

		}
		& li:nth-of-type(2){
			& a{
				display:block;
				& label{
					height:60px;
					width:80px;
					font-size:12px;
					text-align:center;
					background:url(../img/icons.jpg) no-repeat -294px -405px;
					display:block;
				}
				font-size:12px;
				text-align:center;
				display:block;
				&:hover{
					color:#fff;
				}
			}
		}
		& li:nth-of-type(3){
			& a{
				& label{
					height:60px;
					width:80px;
					font-size:12px;
					text-align:center;
					background:url(../img/icons.jpg) no-repeat -66px -330px;
					display:block;
				}
				font-size:12px;
				text-align:center;
				display:block;
				&:hover{
					color:#fff;
				}
			}
		}
		& li:nth-of-type(4){
			padding-bottom:10px;
			& a{
				& label{
					height:60px;
					width:80px;
					font-size:12px;
					text-align:center;
					background:url(../img/icons.jpg) no-repeat -295px -332px;
					display:block;
				}
				font-size:12px;
				text-align:center;
				display:block;
				&:hover{
					color:#fff;
				}
			}
		}
	}
	.shouqi{
		font-size:14px;
		text-align:center;
		height:30px;
		line-height:30px;
		background:#fff;
	}
	.hide_icon{
		display:none;
		& label{
			height:32px;
			width:45px;
			margin-left:15px;
			background:url(../img/sprite-icons.png) no-repeat -82px -191px;
			display:block;
		}
	}
}
/*side information list*/
.info_list{
	width:265px;
	height:600px;
	position:absolute;
	left:40px;
	bottom:54px;
	background:url(../img/iphone.png) no-repeat;
	transform:skewY(-22deg);
    -webkit-transform:skewY(-22deg); /* Safari and Chrome */
	& ul{
		margin-left:52px;
		margin-top:125px;
		& li:nth-of-type(1){
			font-size:16px;
			font-weight:900;
			transform:skewY(6deg);
			-ms-transform:skewY(6deg);/* IE */
			-moz-transform:skewY(6deg);/* firefox */
			-o-transform:skewY(6deg);/* opera */
			-webkit-transform:skewY(6deg); /* Safari and Chrome */
			& a{
				color:#c9a14d;
				&:hover{
			    	color:#c9a14d;
			    }
			}
			&:before{
				content: '';
				width:0;
			}
		}
		& li{
			width:136px;
			margin-top:15px;
			font-size:12px;
			text-indent:5px;
			transform:skewY(2deg);
			-ms-transform:skewY(2deg);/* IE */
			-moz-transform:skewY(2deg);/* firefox */
			-o-transform:skewY(2deg);/* opera */
			-webkit-transform:skewY(2deg); /* Safari and Chrome */
			overflow:hidden;
		    white-space:nowrap;
		    text-overflow:ellipsis;

		    & a{
				color:black;
				&:hover{
			    	color:#fff;
			    }
			}
			&:before{
				content: '';
				width: 4px;
				height: 4px;
				margin: 0px 4px 2px 0px;
				background: #1f1b1b;
				-moz-border-radius: 2px;
				-webkit-border-radius:2px;
				border-radius: 2px;
				display:inline-block;
			}
		}
	}
}
/*operate menu*/
.operate-menu{
	width:640px;
	height:380px;
	background-color:#c7ceca;
	transform:skewX(-5deg);
	-webkit-transform:skewX(-5deg);
	margin:0 auto;
	margin-top:180px;
}
.welcome_tips{
	font-size:12px;
	padding:10px 0px 30px 10px;
}
.toubiaoyewu , .box-1 , .box-2{
	width:200px;
	height:300px;
	float:left;
	margin-right:10px;
	margin-top:10px;
}
.toubiaoyewu{
	background-color:#4a8fdc;
	margin-left:10px;
	position:relative;
	&:hover{
		transform:scale(1.2,1.2);
		z-index:10;
	}
	& a{
		width:200px;
		height:300px;
		display:block;
		& label{
			color:#fff;
			display:block;
			padding:10px;

		}
		& span{
			position:absolute;
			right:70px;
			bottom:150px;
		}
	}
}
.box-1 div:nth-of-type(1){
	background-color:#ff5841;
	height:145px;
	position:relative;
	&:hover{
		transform:scale(1.2,1.2);
		z-index:10;
	}
}
.box-1 div:nth-of-type(1) a , .box-1 div:nth-of-type(2) a , .box-2 div:nth-of-type(1) a , .box-2 div:nth-of-type(2) a{
	width:200px;
	height:145px;
	display:block;

}
.box-1 div:nth-of-type(1) label , .box-1 div:nth-of-type(2) label , .box-2 div:nth-of-type(1) label , .box-2 div:nth-of-type(2) label{
	color:#fff;
	position:absolute;
	right:10px;
	bottom:10px;

}
.box-1 div:nth-of-type(1) span , .box-1 div:nth-of-type(2) span , .box-2 div:nth-of-type(1) span , .box-2 div:nth-of-type(2) span{
	position:absolute;
	top:50px;
	left:70px;
}
.box-1 div:nth-of-type(2){
	background-color:#eeb13b;
	height:145px;
	margin-top:10px;
	position:relative;
	&:hover{
		transform:scale(1.2,1.2);
		z-index:10;
	}
}
.box-2 div:nth-of-type(1){
	background-color:#61b9b7;
	height:145px;
	position:relative;
	&:hover{
		transform:scale(1.2,1.2);
		z-index:10;
	}
}
.box-2 div:nth-of-type(2){
	background-color:#a8c96d;
	height:145px;
	margin-top:10px;
	position:relative;
	&:hover{
		transform:scale(1.2,1.2);
		z-index:10;
	}
}
/*footer*/
.footer{
	width:100%;
	height:65px;
	background:#e8e6e7;
	position:absolute;
	bottom:0;
	left:0;
	& .foot_box{
		width:660px;
		margin:0 auto;
		& span{
			float:left;
			margin-left:10px;
			font-size:12px;
			color:#8c7e7e;
			line-height:18px;
			& img{
				padding-top:1px;
			}
		}
	}
}