@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select{margin: 0;padding: 0;border: 0; font-family:"微软雅黑";}
table{ border-collapse:collapse;}
/*bg*/
.bg{
	position:absolute;
	z-index:-1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
	& img{
		width:100%;
		height:auto;
	}
}
/*login and register*/
.login_content{
	width:220px;
	height:220px;
	position:absolute;
	top:10px;
	right:10px;
	background:rgba(219,215,203,0.3);
	.un{
		margin:50px 25px 0px 25px;
		width:170px;
		background:#fff;
		display:block;
		height:25px;
		border:1px #cdcdcd solid;
		border-radius:5px;
		& label{
			background:url(../img/input_icons.png) no-repeat 0 -68px;
			display:block;
			width:6px;
			height:20px;
			border-right:1px #cdcdcd solid;
			float:left;
			overflow:hidden;
			padding:0px 0px 0px 24px;
			z-index:20;
			margin-top:2px;
		}
		& input{
			width:135px;
			height:23px;
			float:left;
			border:1px #fff solid;
			appearance:none;
			-webkit-appearance:none;
			outline:none;
			text-indent:6px;
		}
	}
	.pwd{
		width:170px;
		background:#fff;
		display:block;
		height:25px;
		margin:10px 25px 0px 25px;
		border:1px #cdcdcd solid;
		border-radius:5px;
		& label{
			background:url(../img/input_icons.png) no-repeat 0 -147px;
			display:block;
			float:left;
			border-right:1px #cdcdcd solid;
			width:6px;
			height:20px;
			overflow:hidden;
			padding:0px 0px 0px 24px;
			z-index:20;
			margin-top:2px;
		}
		& input{
			width:135px;
			height:23px;
			float:left;
			border:1px #fff solid;
			appearance:none;
			-webkit-appearance:none;
			outline:none;
			text-indent:6px;
		}
	}
	.btn{
		margin:30px 45px 0px 45px;
		width:130px;
		height:30px;
		font-size:12px;
		.button_box{
			// width:60px;
			// height:30px;
			// border-radius:10px;
			// background:rgba(170,163,161,0.5);
			float:left;
			.register{
				height:20px;
				width:60px;
				background:#9b9b9b;
				line-height:20px;
				text-align:center;
				border-radius:5px;
				margin-right:10px;
			}
			.login{
				height:20px;
				width:60px;
				background:#44a7ed;
				line-height:20px;
				text-align:center;
				border-radius:5px;
			}
		}
	}
}
/*side menu*/
.side_menu{
	width:80px;
	height:340px;
	background:#d9d9d9;
	position:absolute;
	right:10px;
	bottom:35px;
	& ul {
		& li:nth-of-type(1){
			& label{
				height:60px;
				width:80px;
				font-size:12px;
				text-align:center;
				background:url(../img/icons.jpg) no-repeat -220px -565px;
				display:block;
				height:60px;
				// margin-left:10px;
			}
			& div{
				font-size:12px;
				text-align:center;
			}

		}
		& li:nth-of-type(2){
			& label{
				height:60px;
				width:80px;
				font-size:12px;
				text-align:center;
				background:url(../img/icons.jpg) no-repeat -294px -405px;
				display:block;
				height:60px;
			}
			& div{
				font-size:12px;
				text-align:center;
			}

		}
		& li:nth-of-type(3){
			& label{
				height:60px;
				width:80px;
				font-size:12px;
				text-align:center;
				background:url(../img/icons.jpg) no-repeat -66px -330px;
				display:block;
				height:60px;
			}
			& div{
				font-size:12px;
				text-align:center;
			}

		}
		& li:nth-of-type(4){
			& label{
				height:60px;
				width:80px;
				font-size:12px;
				text-align:center;
				background:url(../img/icons.jpg) no-repeat -295px -332px;
				display:block;
				height:60px;
			}
			& div{
				font-size:12px;
				text-align:center;
			}

		}
		& li:nth-of-type(5){
			& div{
				font-size:14px;
				text-align:center;
				height:30px;
				line-height:30px;
				background:#fff;
				margin-top:10px;
			}

		}
	}
}
/*side information list*/
.info_list{
	width:200px;
	height:420px;
	position:absolute;
	left:0;
	bottom:63;
	background:url(../img/iphone.png) no-repeat;
	transform:skewY(-15deg);
	-webkit-transform:skewY(-15deg); /* Safari and Chrome */
}